<section class="about" id="about">
  <div class="container about__container">
    <div class="about__row">
      <div class="about__content">
        <h2 class="title about__title">Юридическая компания <span class="title__accent">правозащитник</span></h2>
        <div class="about__text">
          <p class="descr about__descr">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение.</p>
          <p class="descr about__descr">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца.</p>
          <p class="descr about__descr">За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).</p>
        </div>
      </div>
      <div class="about__img">
        <img src="img/books.jpg" width="535" height="359" alt="" aria-hidden="true">
      </div>
    </div>
    <div class="about__footer">
      <a href="#" class="btn-reset btn about__btn" aria-label="Перейти на страницу об истории компании">История компании</a>
      <a href="#" class="btn-reset btn btn--secondary about__btn" aria-label="Перейти на страницу сертификатов">Сертификаты</a>
    </div>
  </div>
</section>
