<section class="blog" id="blog">
  <div class="container blog__container">
    <h2 class="title blog__title">Полезные материалы</h2>
    <p class="descr blog__descr">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
      сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
      шаблона</p>
    <div class="swiper blog__swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide blog__item">
          <a href="#" class="blog-artic">
            <div class="blog-artic__img">
              <img src="img/news-1.jpg" alt="" aria-hidden="true">
            </div>
            <h3 class="blog-artic__title">Воистину радостный звук: шёпот бессменных лидеров</h3>
            <div class="blog-artic__date">24 апр. 2023 г.</div>
            <p class="blog-artic__descr">Предварительные выводы неутешительны: синтетическое тестирование, а также свежий
              взгляд на привычные вещи — безусловно открывает новые горизонты для экономической целесообразности
              принимаемых решений. </p>
          </a>
        </div>
        <div class="swiper-slide blog__item">
          <a href="#" class="blog-artic">
            <div class="blog-artic__img">
              <img src="img/news-2.jpg" alt="" aria-hidden="true">
            </div>
            <h3 class="blog-artic__title">Франция намерена исследовать, почему объемы выросли</h3>
            <div class="blog-artic__date">12 мар. 2023 г.</div>
            <p class="blog-artic__descr">Для современного мира новая модель организационной деятельности влечет за собой
              процесс внедрения и модернизации вывода текущих активов. Являясь всего лишь частью общей картины, базовые
              сценарии поведения...</p>
          </a>
        </div>
        <div class="swiper-slide blog__item">
          <a href="#" class="blog-artic">
            <div class="blog-artic__img">
              <img src="img/news-3.jpg" alt="" aria-hidden="true">
            </div>
            <h3 class="blog-artic__title">Сплочённость команды профессионалов продолжает удивлять</h3>
            <div class="blog-artic__date">02 фев. 2023 г.</div>
            <p class="blog-artic__descr">Современные технологии достигли такого уровня, что курс на
              социально-ориентированный национальный проект способствует повышению качества соответствующих условий
              активизации. </p>
          </a>
        </div>
      </div>
    </div>

    <button class="btn-reset btn blog__btn">Все услуги</button>
  </div>
</section>
