<footer class="footer" id="contact">
  <div class="footer__top">
    <div class="container">
      <div class="footer__info">
        <a href="#" class="logo footer__logo">
          <img src="img/logo.png" width="275" height="50" alt="Правозащитник Юридическая компания">
        </a>
        <p class="descr footer__descr">Предварительные выводы неутешительны: синтетическое тестирование, а также свежий
          взгляд на привычные вещи — безусловно открывает новые горизонты для экономической целесообразности принимаемых
          решений.</p>
      </div>
      <div class="footer__content">
        <ul class="list-reset footer-contact">
          <li class="footer-contact__item">
            <a href="tel:79010001122" class="footer-contact__link" aria-label="Позвонить в компанию">
              <div class="footer-contact__icon">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
              </div>
              <div class="footer-contact__content">
                <div class="footer-contact__title">Запись на консультанцию</div>
                <div class="footer-contact__text">+7 (901) 000-11-22</div>
              </div>
            </a>
          </li>
          <li class="footer-contact__item">
            <div class="footer-contact__link">
              <div class="footer-contact__icon">
                <svg>
                  <use xlink:href="img/sprite.svg#map"></use>
                </svg>
              </div>
              <div class="footer-contact__content">
                <div class="footer-contact__title">Наш адрес</div>
                <div class="footer-contact__text">г. Одинцово, пр. Будапештсткая, 40</div>

              </div>
            </div>
          </li>
          <li class="footer-contact__item">
            <a href="mailto:test@test.com" class="footer-contact__link" aria-label="Отправить письмо">
              <div class="footer-contact__icon">
                <svg>
                  <use xlink:href="img/sprite.svg#mail"></use>
                </svg>
              </div>
              <div class="footer-contact__content">
                <div class="footer-contact__title">Корреспонденция</div>
                <div class="footer-contact__text">test@test.com</div>
              </div>
            </a>
          </li>
        </ul>
        <nav class="footer-nav">
          <ul class="list-reset footer-nav__list">
            <li class="footer-nav__item"><a href="#service" class="footer-nav__link">Услуги</a></li>
            <li class="footer-nav__item"><a href="#about" class="footer-nav__link">О компании</a></li>
            <li class="footer-nav__item"><a href="#lawyer" class="footer-nav__link">Наши юристы</a></li>
            <li class="footer-nav__item"><a href="#testimonial" class="footer-nav__link">Отзывы</a></li>
            <li class="footer-nav__item"><a href="#blog" class="footer-nav__link">Новости</a></li>
            <li class="footer-nav__item"><a href="#contact" class="footer-nav__link">Контакты</a></li>
          </ul>
        </nav>
        <div class="footer-ask">
          <div class="footer-ask__lawyer">
            <div class="footer-ask__img">
              <img src="img/lawyer-2.jpg" alt="Миронов Александр">
            </div>
            <div class="footer-ask__text">
              <p class="footer-ask__name">Миронов Александр</p>
              <p class="footer-ask__post">Ведущий юрист</p>
            </div>
          </div>
          <p class="descr footer-ask__descr">Есть над чем задуматься: тщательные исследования конкурентов разоблачены. Идейные соображения высшего порядка, а также перспективное планирование играет </p>
          <button class="btn-reset btn footer-ask__btn" data-graph-animation="custom" data-graph-path="form-modal">Задать вопрос юристу</button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container footer__bottom-container">
      <div class="copyright">
        Все права защищены, 2023
      </div>
      <a href="#" class="politic">
        Политика обработки персональных данных
      </a>
    </div>
  </div>
</footer>
