<header class="header" data-scroll-header>
    <div class="header__top">
      <div class="container header__top-container">
        <ul class="list-reset header__contacts">
          <li class="header__contact">
            <a href="tel:79010001122" class="header__contact-link" aria-label="Позвонить в компанию">
              <svg>
                <use xlink:href="img/sprite.svg#phone"></use>
              </svg>
                +7 (901) 000-11-22
            </a>
          </li>
          <li class="header__contact header__contact--desk">
            <a href="mailto:test@test.com" class="header__contact-link" aria-label="Отправить письмо">
              <svg>
                <use xlink:href="img/sprite.svg#mail"></use>
              </svg>
              test@test.com
            </a>
          </li>
        </ul>
        <button class="btn-reset header__btn" data-graph-animation="custom" data-graph-path="form-modal">Заказать звонок</button>
      </div>
    </div>
    <div class="header__bottom">
      <div class="container header__bottom-container">
        <a href="#" class="logo header__logo">
          <img src="img/logo.png" width="275" height="50" alt="Логотип Правозащитник Юридическая компания">
        </a>
        <nav class="nav" title="Навигация" data-menu>
          <ul class="list-reset nav__list">
            <li class="nav__item"><a href="#service" class="nav__link" data-menu-item>Услуги</a></li>
            <li class="nav__item"><a href="#about" class="nav__link" data-menu-item>О компании</a></li>
            <li class="nav__item"><a href="#lawyer" class="nav__link" data-menu-item>Наши юристы</a></li>
            <li class="nav__item"><a href="#testimonial" class="nav__link" data-menu-item>Отзывы</a></li>
            <li class="nav__item"><a href="#blog" class="nav__link" data-menu-item>Новости</a></li>
            <li class="nav__item"><a href="#contact" class="nav__link" data-menu-item>Контакты</a></li>
          </ul>
        </nav>
        <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
          <span class="burger__line"></span>
        </button>
      </div>
    </div>
</header>
