<section class="hero">
  <h1 class="visually-hidden">Правозащитник Юридическая компания</h1>
  <div class="hero__slider">
    <div class="slider-nav hero__nav">
      <div class="container slider-nav__container">
        <div class="swiper-pagination hero__pag"></div>
        <div class="slider-buttons">
          <button class="btn-reset slider-buttons__btn hero__prev">
            <svg>
              <use xlink:href="img/sprite.svg#arrowleft"></use>
            </svg>
          </button>
          <button class="btn-reset slider-buttons__btn hero__next">
            <svg>
              <use xlink:href="img/sprite.svg#arrowright"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="hero-slide hero-slide--one">
          <div class="container">
            <div class="hero__content">
              <h2 class="hero__title">Оказываем весь комплекс 3 <span class="hero__title-accent">Юридических услуг</span>
              </h2>
              <p class="hero__descr">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное
                заполнение.
              </p>
              <a href="#service" class="btn-reset btn hero__btn">Наши услуги</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero-slide hero-slide--two">
          <div class="container">
            <div class="hero__content">
              <h2 class="hero__title">Оказываем весь комплекс 3 <span class="hero__title-accent">Юридических услуг</span>
              </h2>
              <p class="hero__descr">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное
                заполнение.
              </p>
              <a href="#service" class="btn-reset btn hero__btn">Наши услуги</a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="hero-slide hero-slide--three">
          <div class="container">
            <div class="hero__content">
              <h2 class="hero__title">Оказываем весь комплекс 3 <span class="hero__title-accent">Юридических услуг</span>
              </h2>
              <p class="hero__descr">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
                сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное
                заполнение.
              </p>
              <a href="#service" class="btn-reset btn hero__btn">Наши услуги</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
