<div class="graph-modal modal">
  <div class="graph-modal__container modal__container" role="dialog" aria-modal="true" data-graph-target="form-modal">
    <button class="btn-reset js-modal-close graph-modal__close modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content modal__content">
      <div class="modal__success">
        Ваша заявка отправлена!
      </div>
      <div class="modal__text">
        <h2 class="title modal__title">Мы вас проконсультируем</h2>
        <p class="descr modal__descr">Заполните форму чтобы заказать обратный звонок. Наши сотрудники свяжутся с Вами.</p>
      </div>
      <form action="#" class="modal-form">
        <label class="modal-form__label">
          <input type="text" name="Имя" class="input-reset modal-form__input input-name" placeholder="Имя">
        </label>
        <label class="modal-form__label">
          <input type="tel" name="Телефон" class="input-reset modal-form__input input-tel" placeholder="Телефон">
        </label>
        <button class="btn-reset btn btn--dark modal-form__btn">Отправить</button>
      </form>
    </div>
  </div>
</div>
