<section class="service" id="service">
  <div class="container service__container">
    <h2 class="title service__title">Наши услуги</h2>
    <p class="descr service__descr">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
      сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
      шаблона</p>
    <div class="swiper service__swiper">
      <div class="swiper-wrapper grid service__list">
        <div class="swiper-slide service__item">
          <svg class="service__icon">
            <use xlink:href="img/sprite.svg#agreement"></use>
          </svg>
          <h3 class="service__subtitle">Банкротство физических лиц</h3>
          <p class="service__subdescr">Процедуру банкротства физических лиц в России регулирует закон «О
            несостоятельности
            (банкротстве)». </p>
        </div>
        <div class="swiper-slide service__item">
          <svg class="service__icon">
            <use xlink:href="img/sprite.svg#agreement"></use>
          </svg>
          <h3 class="service__subtitle">Сопровождение сделок</h3>
          <p class="service__subdescr">Инициирование, оформление, осуществление сделки и достижение результата — это
            именно то, чем мы занимаемся каждый день.</p>
        </div>
        <div class="swiper-slide service__item">
          <svg class="service__icon">
            <use xlink:href="img/sprite.svg#agreement"></use>
          </svg>
          <h3 class="service__subtitle">Корпоративные споры</h3>
          <p class="service__subdescr">Корпоративные споры – споры, связанные с созданием юрлица, управлением или
            участием
            в нем</p>
        </div>
        <div class="swiper-slide service__item">
          <svg class="service__icon">
            <use xlink:href="img/sprite.svg#agreement"></use>
          </svg>
          <h3 class="service__subtitle">Недвижимость и строительство</h3>
          <p class="service__subdescr">Консультируем по различным вопросам в области недвижимости, включая
            градостроительное регулирование, земельные отношения</p>
        </div>
        <div class="swiper-slide service__item">
          <svg class="service__icon">
            <use xlink:href="img/sprite.svg#agreement"></use>
          </svg>
          <h3 class="service__subtitle">Возврат страховых премий</h3>
          <p class="service__subdescr">Для возврата страховой премии нужно подготовить следующий пакет документов:
            паспорт
            страхователя; оригинал страхового полиса</p>
        </div>
        <div class="swiper-slide service__item">
          <svg class="service__icon">
            <use xlink:href="img/sprite.svg#agreement"></use>
          </svg>
          <h3 class="service__subtitle">Налоговое право и споры</h3>
          <p class="service__subdescr">Сопровождение налоговых проверок на любой стадии, анализ и подготовка документов,
            защита при налоговых спорах.</p>
        </div>
      </div>
    </div>
  </div>
</section>
