<section class="staff" id="lawyer">
  <div class="container staff__container">
    <h2 class="title staff__title">Наши юристы</h2>
    <p class="descr staff__descr">Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает
      сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение
      шаблона</p>
    <div class="swiper staff__swiper">
      <div class="swiper-wrapper staff__list">
        <div class="swiper-slide staff__item">
          <div class="staff__img">
            <img src="img/lawyer-1.jpg" alt="Горюнова Полина Алексеевна">
          </div>
          <div class="staff__content">
            <div class="staff__name">Горюнова Полина Алексеевна</div>
            <div class="staff__post">Юрист международного права</div>
          </div>
          <div class="staff__hover-content">
            <div class="staff__name">Горюнова Полина Алексеевна</div>
            <div class="staff__post">Юрист международного права</div>
            <div class="staff__about">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые
              модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
            </div>
            <div class="staff__exp">12 лет юридической практики</div>
          </div>
        </div>
        <div class="swiper-slide staff__item">
          <div class="staff__img">
            <img src="img/lawyer-2.jpg" alt="Миронов Александр Германович">
          </div>
          <div class="staff__content">
            <div class="staff__name">Миронов Александр Германович</div>
            <div class="staff__post">Кредитный адвокат, банковский юрист</div>
          </div>
          <div class="staff__hover-content">
            <div class="staff__name">Миронов Александр Германович</div>
            <div class="staff__post">Кредитный адвокат, банковский юрист</div>
            <div class="staff__about">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые
              модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
            </div>
            <div class="staff__exp">12 лет юридической практики</div>
          </div>
        </div>
        <div class="swiper-slide staff__item">
          <div class="staff__img">
            <img src="img/lawyer-3.jpg" alt="Шестакова Елизавета Егоровна">
          </div>
          <div class="staff__content">
            <div class="staff__name">Шестакова Елизавета Егоровна</div>
            <div class="staff__post">Юрист международного права</div>
          </div>
          <div class="staff__hover-content">
            <div class="staff__name">Шестакова Елизавета Егоровна</div>
            <div class="staff__post">Юрист международного права</div>
            <div class="staff__about">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые
              модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
            </div>
            <div class="staff__exp">12 лет юридической практики</div>
          </div>
        </div>
        <div class="swiper-slide staff__item">
          <div class="staff__img">
            <img src="img/lawyer-4.jpg" alt="Архипов Максим Константинович">
          </div>
          <div class="staff__content">
            <div class="staff__name">Архипов Максим Константинович</div>
            <div class="staff__post">Юрист международного права</div>
          </div>
          <div class="staff__hover-content">
            <div class="staff__name">Архипов Максим Константинович</div>
            <div class="staff__post">Юрист международного права</div>
            <div class="staff__about">Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые
              модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь.
            </div>
            <div class="staff__exp">12 лет юридической практики</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
